@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
*{
    box-sizing: border-box;
}
ul{
    padding: 0;
}
.title{
    margin: 0;
    margin-top: 13px;
    width: 123px;
    height: 14px;
    display: inline-block;
    color: #000000;
    margin-left: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.single{
width: 200px;
height: 40px;
background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 10px;
margin: auto;
}

.downImg{
    float: right;
    margin: 13px;
}

.downImg:hover{
    cursor: pointer;
}
.downImg up{
    display: none;
}

.option{
    margin: 9px auto;
    width: 200px;
    height: 208px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: none;
}

.language{
    margin: 0 8px;
    width: 200px;
    height: 40px;
    display: inline-block;
    color: #000000;
    padding-left: 10px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;    
}

.language:hover{
    width: 184px;
    background: #F8E4FF;
    border-radius: 8px;
    
}

