@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

*{
    box-sizing: border-box;
    caret-color:transparent;
}

ul{
    padding: 0;
}
.title{
    display: inline-block;
    width: 123px;
    height: 14px;
    margin: 13px 0 0 14px;
    cursor: default;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.con_select{
    width: 200px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background: #FFFFFF;
}

.downImg{
    float: right;
    margin: 13px;
}

.downImg:hover{
    cursor: pointer;
}
.downImg up{
    display: none;
}

.option{
    display: none;
    width: 200px;
    height: 208px;
    margin: 9px auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
}

.lang{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 0 8px;
    padding-left: 10px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;    
    color: #000000;
}

.lang:hover{
    width: 184px;
    background: #F8E4FF;
    border-radius: 8px;
    cursor: pointer;
}

a, input, button {
    outline: 0;
}
