@import url("./reset.css");
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    background: #F2F2F2;
}

.con-main{
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    z-index: -1;
}

.main-logo{
    margin: 30px 181px 28px;
}
.main-greeting{
    width: 269px;
    font-family:'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    color: #000000;
}

.main-login{
    width: 440px;
    height: 60px;
    margin: 32px 30px 30px 30px;
    border-radius: 5px;
    border: 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    background: #2F80ED;
}

.main-login:hover{
    cursor: pointer;
}

.con-modal{
    flex-direction: column;
    display: none;
    width: 520px;
    height: 736px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    text-align: center;
}
.modal-background{
    display: none;
}
.modal-background::before{
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .7;
} 

.con-header{
    border-bottom: 1px solid #C4C4C4;
    display: flex;
}
.txt-title{
    width: 144px;
    margin: 20px auto 18px;
    margin-right: 148px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.img-cancel{
    width: 16px;
    margin: 22px 24px;
    margin-left: 0;
}
.img-cancel:hover{
    cursor: pointer;
}

.modal-greeting{
    width: 369px;
    margin: 26px 0 24px 24px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.txt-id{
    width: 472px;
    margin: 0 24px 10px 24px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px;
}
.txt-alertId{
    display: none;
    width: 139px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F4492E;
    margin: 0px 0px 10px 28px;
}
.txt-pw{
    width: 472px;
    margin: 0 24px 16px 24px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px;
}

.txt-alertPw{
    display: none;
    width: 248px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F4492E;
    margin: 0px 0px 13px 28px;
}

.con-loginstat{
    overflow: hidden;
}

.check-loginStat{
    float: left;
    width: 22px;
    margin: 0 8px 20px 28px;

    border: 1px solid #767676;
    border: 0;
    cursor: pointer;
}
.txt-loginStat{
    float: left;
    margin-top: 1px;

    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}
.modal-login{
    width: 472px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 27px;
    border: 0;   
    background: #2F80ED;
    border-radius: 5px;

    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.modal-login:hover{
    cursor: pointer;
}
.con-signUp{
    display: flex;
    justify-content: center;
}

.link-signUp{
    width: 52px;
    height: 18px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.link-findIdPw{
    
    margin: 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.link-findIdPw::before{
    content: "|";
    margin: 0px 12px;
    height: 18px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.con-line{
    position: relative;
}

.txt-line{
    display: flex;
    align-items: center;
    width: 472px;
    margin: 30px auto 20px;
    gap: 1em;

    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}
.txt-line::before, 
.txt-line::after{
  content: ' '; 
  flex-grow: 1;
  height: 1px;
  opacity: 0.4;
  background-color: #C4C4C4;
} 

.link-google, 
.link-facebook, 
.link-naver, 
.link-kakao{
    display: block;
    width: 472px;
    height: 50px;
    margin: 0 auto 10px;
    border-radius: 5px;
    background: #FFFFFF;
}

.link-google{
    border: 1px solid #767676;
}

a.link-google::before{
    content: "";
    float: left;
    width: 22px; 
    height: 22px;
    margin: 12px 0 0 12px;
    background-image: url('./image/css_sprites_retina.png');
    background-position: -52px -10px;
    background-size: 116px 83px;
}
.link-facebook{
    border: 1px solid #2D9CDB;
}
a.link-facebook::before{
    content: "";
    float: left;
    width: 13px;
    height: 24px;
    margin: 12px 0 0 12px;
    background-image: url('./image/css_sprites_retina.png');
    background-position: -93px -10px;
    background-size: 116px 83px;
}

.link-naver{
    border: 1px solid #00BF18;
}
a.link-naver::before{
    content: "";
    float: left;
    width: 22px; 
    height: 22px;
    margin: 12px 0 0 12px;
    background-image: url('./image/css_sprites_retina.png');
    background-position: -10px -10px;
    background-size: 116px 83px;
}

.link-kakao{
    border: 1px solid #F2C94C;
}

a.link-kakao::before{
    content: "";
    float: left;
    width: 22px; 
    height: 22px;
    margin: 12px 0 0 12px;
    background-image: url('./image/css_sprites_retina.png');
    background-position: -10px -52px;;
    background-size: 116px 83px;
}


.txt-google, .txt-facebook, .txt-naver, .txt-kakao{
    display: inline-block;
    margin: 15px 0;   
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}

