@import url("./reset.css");
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    background: #F2F2F2;
}

.con-main{
    width: 500px;
    height: 240px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin: auto;
    margin-top: 15%;
}

.img-logo{
    width: 138px;
    height: 40px;
    margin: 30px 181px 28px;
}
.main-greeting{
    width: 269px;
    height: 20px;
    font-family:'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    /* identical to box height */
    color: #000000;
}

.main-login{
    width: 440px;
    height: 60px;
    margin: 32px 30px 30px 30px;
    border-radius: 5px;
    border: 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    background: #2F80ED;
}

.main-login:hover{
    cursor: pointer;
}

.con-modal{
    flex-direction: column;
    display: none;
    width: 520px;
    height: 736px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    text-align: center;
}
.con-header{
    border-bottom: 1px solid #C4C4C4;
    display: flex;
}
.txt-title{
    width: 144px;
    height: 20px;
    margin: 20px auto 18px;
    margin-right: 148px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.img-cancel{
    width: 16px;
    height: 16px;
    margin: 22px 24px;
    margin-left: 0;
}
.img-cancel:hover{
    cursor: pointer;
}

.modal-greeting{
    width: 369px;
    height: 24px;
    margin: 26px 0 24px 24px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.txt-id{
    width: 472px;
    height: 50px;
    margin: 0 24px 10px 24px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px;
}
.txt-alertId{
    display: none;
    width: 139px;
    height: 18px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F4492E;
    margin: 0px 0px 10px 28px;
}
.txt-pw{
    width: 472px;
    height: 50px;
    margin: 0 24px 16px 24px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px;
}

.txt-alertPw{
    display: none;
    width: 248px;
    height: 18px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F4492E;
    margin: 0px 0px 13px 28px;
}

.con-loginstat{
    overflow: hidden;
}

.check-loginStat{
    width: 22px;
    height: 22px;
    margin: 0 8px 20px 28px;
    display: inline-block;
    border: 1px solid #767676;
    border: 0;
    cursor: pointer;
    float: left;
}
.txt-loginStat{
    display: inline-block;
    float: left;
    margin-top: 1px;

    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}
.modal-login{
    width: 472px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 27px;
    border: 0;   
    background: #2F80ED;
    border-radius: 5px;

    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    color: #FFFFFF;
}

.modal-login:hover{
    cursor: pointer;
}
.con-signUp{
    font-size: 0;
}

.link-signUp{
    width: 52px;
    height: 18px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.link-findIdPw{
    width: 125px;
    height: 18px;
    margin: 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.link-findIdPw::before{
    content: "|";
    margin: 0px 12px;
    height: 18px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.con-line{
    position: relative;
}

.txt-line{
    margin: 30px 0 20px 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.txt-line::before{
    content: "";
    position: absolute;
    width: 210px;
    height: 1px;
    left: 24px;
    top: 40px;
    background: #C4C4C4;
}

.txt-line::after{
    content: "";
    position: absolute;
    width: 210px;
    height: 1px;
    left: 286px;
    top: 40px;
    background: #C4C4C4;
}
.link-google, .link-facebook, .link-naver, .link-kakao{
    display: block;
    width: 472px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
}
.link-google{
    border: 1px solid #767676;
}
.link-facebook{
    border: 1px solid #2D9CDB;
}
.link-naver{
    border: 1px solid #00BF18;
}
.link-kakao{
    border: 1px solid #F2C94C;
}
.img-google{
    float: left;
    margin: 11px 0;
    margin-left: 12px;
}
.img-facebook{
    float: left;
    margin: 11px 0;
    margin-left: 12px;
}
.img-naver{
    float: left;
    margin: 11px 0;
    margin-left: 12px;
}

.img-kakao{
    float: left;
    margin: 11px 0;
    margin-left: 12px;
}

.txt-google, .txt-facebook, .txt-naver, .txt-kakao{
    display: inline-block;
    margin: 15px 0;   
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}